In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tasiilaq,GL,2021-01-28 04:06:10,65.6145,-37.6368,23.00,50,90,21.85
1,1,Poronaysk,RU,2021-01-28 04:10:45,49.2167,143.1167,10.09,86,94,7.70
2,2,Ixtapa,MX,2021-01-28 04:10:45,20.7000,-105.2000,68.00,88,1,1.21
3,3,Souillac,MU,2021-01-28 04:05:57,-20.5167,57.5167,75.20,88,20,2.30
4,4,Kruisfontein,ZA,2021-01-28 04:07:37,-34.0033,24.7314,55.99,94,57,1.01

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Souillac,MU,2021-01-28 04:05:57,-20.5167,57.5167,75.20,88,20,2.30
15,15,Avarua,CK,2021-01-28 04:10:47,-21.2078,-159.7750,86.00,66,20,16.11
21,21,Rikitea,PF,2021-01-28 04:10:48,-23.1203,-134.9692,80.13,72,100,8.77
22,22,Kapaa,US,2021-01-28 04:10:48,22.0752,-159.3190,75.20,83,75,20.71
23,23,Atuona,PF,2021-01-28 04:10:48,-9.8000,-139.0333,78.44,79,1,15.79
24,24,Butaritari,KI,2021-01-28 04:10:48,3.0707,172.7902,81.25,78,92,15.84
25,25,Saint-Leu,RE,2021-01-28 04:10:48,-21.1500,55.2833,84.99,58,1,3.51
28,28,Geraldton,AU,2021-01-28 04:10:49,-28.7667,114.6000,82.40,34,0,20.71
31,31,Itaituba,BR,2021-01-28 04:10:49,-4.2761,-55.9836,78.80,94,0,5.75
33,33,Saint-Joseph,RE,2021-01-28 04:10:49,-21.3667,55.6167,84.99,54,0,4.61

In [12]:
preferred_cities_df.count()

City_ID       139
City          139
Country       139
Date          139
Lat           139
Lng           139
Max Temp      139
Humidity      139
Cloudiness    139
Wind Speed    139
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
3       Souillac      MU     75.20 -20.5167   57.5167
15        Avarua      CK     86.00 -21.2078 -159.7750
21       Rikitea      PF     80.13 -23.1203 -134.9692
22         Kapaa      US     75.20  22.0752 -159.3190
23        Atuona      PF     78.44  -9.8000 -139.0333
24    Butaritari      KI     81.25   3.0707  172.7902
25     Saint-Leu      RE     84.99 -21.1500   55.2833
28     Geraldton      AU     82.40 -28.7667  114.6000
31      Itaituba      BR     78.80  -4.2761  -55.9836
33  Saint-Joseph      RE     84.99 -21.3667   55.6167

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Souillac,MU,75.20,-20.5167,57.5167,Shanti Maurice Resort & Spa
15,Avarua,CK,86.00,-21.2078,-159.7750,Paradise Inn
21,Rikitea,PF,80.13,-23.1203,-134.9692,Pension Maro'i
22,Kapaa,US,75.20,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
23,Atuona,PF,78.44,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...
527,Saint-Georges,GD,77.00,12.0564,-61.7485,Siesta Hotel
532,Ugoofaaru,MV,80.53,5.6667,73.0000,Ungoofaaru Inn
534,Urucui,BR,75.54,-7.2294,-44.5561,Hotel Premium Piauí
538,Rafaela,AR,77.00,-31.2503,-61.4867,Parra Hotel & Suites
540,Singaraja,ID,84.07,-8.1120,115.0882,Puri Bagus Lovina Resort

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [25]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))