## Deliverable 3. Create a Travel Itinerary Map.

In [84]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [85]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Ilhabela,BR,79.48,overcast clouds,-23.7781,-45.3581,Ilha Flat Hotel
1,3,Atuona,PF,78.58,clear sky,-9.8000,-139.0333,Villa Enata
2,4,Avarua,CK,78.80,clear sky,-21.2078,-159.7750,Paradise Inn
3,10,Mocuba,MZ,79.25,overcast clouds,-16.8392,36.9856,Phama Lodge
4,11,Mangrol,IN,76.12,few clouds,21.1167,70.1167,Hotel The Royal Honours

In [86]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}
</dd><dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [87]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [88]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Ilhabela"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Ilhabela"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Parati"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Arraial Do Cabo"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Sao Joao Da Barra"]

In [89]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Ilhabela,BR,79.48,overcast clouds,-23.7781,-45.3581,Ilha Flat Hotel

In [90]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [91]:
start

(-23.7781, -45.3581)

In [92]:
end

(-23.7781, -45.3581)

In [93]:
stop1

(-23.2178, -44.7131)

In [94]:
stop2

(-22.9661, -42.0278)

In [95]:
stop3

(-21.6403, -41.0511)

In [99]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_route = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")
fig.add_layer(vacation_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [98]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Ilhabela,BR,79.48,overcast clouds,-23.7781,-45.3581,Ilha Flat Hotel
1,303,Parati,BR,76.98,overcast clouds,-23.2178,-44.7131,Che Lagarto Paraty
2,29,Arraial Do Cabo,BR,76.39,broken clouds,-22.9661,-42.0278,Pousada Porto Praia
3,120,Sao Joao Da Barra,BR,76.26,scattered clouds,-21.6403,-41.0511,Pousada Porto De Canoas

In [104]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}
 and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [106]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))